[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
expects = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-migrate = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
